body{
	margin: 20px 20px 20px 20px;
	background-color: #00BFFF;
	font-size: 18px;
	font-family: Times New Roman, Arial;
}
#header{
	background-color: purple;
	margin: auto;
	width: 900px;
	border: black 1px solid;
}
hr{
	color: black;
}
h1{
	text-align: center; 
}
h2{
	text-align: left;
}
