body{
	background-color: #00BFFF;
	font-size: 18px;
	font-family: Times New Roman, Arial;
}
#all{
	margin: auto;
	width: 900px;
	border: 1px solid black;
	padding: 7px 7px;
	background-color: #578700;
}
#header{
	background-color: purple;
	border: 1px solid black;
}
hr{
	color: solid black;
}
h1{
	text-align: center; 
}
h2{
	text-align: left;
}
a{
	outline: none;
}
