html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
    background-color:  white;
    color: black;
}
.hidden{
    display: none;
}

/*Header*/
header{
    position: relative;
}

.container{
    margin: auto;
    width: 62vw;
}

.background-header{
    margin: auto;
    width: 69vw;
    height: 27.3vw;
    background-color: rgb(40, 43, 255);
    position: relative;
    border-radius: 0 0 1vw 1vw;
}

.user{
    top: 16.3vw;
    left: 28.49vw;
    position: absolute;

}
.user img{
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    background: gray;
    border: 0.4vw black solid;
    align-content: center;
    display: block;
    margin:auto;
    filter: invert(100%);
}
.camera{
    position: absolute;
    margin: 24.9vw 0 0 37vw;
    border-style: none;
    width: 3vw;
    height: 3vw;
    background-color: gray;
    border-radius: 100%;
}
.camera img{
    background-color: rgb(0,0,0,0);
    margin: auto;
    width: 1.7vw;
    height: 1.7vw;
    border-style: none;
}
.change-picture a{
    color:black
}
.change-picture{
    width: 15vw;
    height: 3vw;
    margin: 23vw 0 0 53vw;
    position: absolute;
    background: white;
    font-size: 1vw;
    border: 0;
    border-radius: 0.5vw;
}
.change-picture:hover{
    background-color:rgb(221, 221, 221);
}
.change-picture img{
    position: absolute;
    top: 0.5vw;
    left: 1vw;
    width: 1.7vw;
}
.change-picture span{
    position: absolute;
    width: 11vw;
    top: 0.6vw;
    left: 3vw;
    font-family: 'Segoe UI';
    font-size: 1.2vw;
    font-weight: 600; 
}

.name{
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    justify-content: center;
    margin: 1.5vw 0 0.6vw 0;
}
.biografia{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5vw
}
.name h1{
    font-size: 3vw;
    font-family: 'Open Sans';
    line-height: 3.35vw;
}

.biografia a{
    font-size: 1vw;
    font-weight: 700;
    color: rgb(75, 75, 255);
    text-decoration: none;
}
.biografia a:hover{
    text-decoration: underline;
    
}

hr{
    color:rgba(207, 207, 207, 0.432);
    font-size: 1px;
}
.menu{
    display: inline-block;
    width: 62vw;
    margin: 0vw;
    padding: 0vw 0vw 0.15vw 0vw;
    background-color: white;
}
.menu ul li {
    display: inline;
}
.menu ul li button a{
    color: black;

}

.left li label, .left li #Mais{
    padding: 1.3vw 1vw 1.3vw 1vw;
    color: black;
    border-style: none;
    font-size: 1vw;
    font-weight: 600;
    background-color: white;
}
.left li label:hover, .left li #Mais:hover{
    border-radius: 0.5vw;
    background-color: rgb(221, 221, 221);
}
.left{
    float: left;
}
#Publica[type=radio]:checked +label, #Publica[type=button]:checked:hover, 
#Sobre[type=radio]:checked +label, #Sobre[type=button]:checked:hover, 
#Amigos[type=radio]:checked +label, #Amigos[type=button]:checked:hover,
#Fotos[type=radio]:checked +label, #Fotos[type=button]:checked:hover{   
    color: rgb(77, 77, 255);
    border-radius: 0;
    padding-bottom: 1.4vw;
    border-bottom: 0.3vw solid rgb(77, 77, 255);
    background-color: white;
}

.right{
    float: right;
}
.right li button{
    border-style: none;
    border-radius: 0.5vw;
    height: 2.7vw;
    font-size: 1vw;
    padding: 0.4vw 1vw 0.5vw 1vw;
    margin: 0.5vw 0 0 0.3vw;
    background-color: rgb(221, 221, 221);
}
.right li button:hover{
    background-color: rgb(184, 184, 184);
}
   
.right li button img{
    width: 16px;
    height: 16px;
    margin: 0 0.5vw -0.2vw 0;
}
.right li .blue{
    background-color: rgb(36, 36, 255);
}
.right li .blue img{
    filter: invert(100%);
}
.right li .blue a{
    color: white;
}
.right li .blue:hover{
    background-color: blue;
}

.mais{
    position: absolute;
    display: none;
    top: -30.5vw;
    left: 26.55vw;
    background-color: white;
    width: 25vw;
    height: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0.3vw;
    border: white solid;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.192);
    padding: 0.5vw;
}

#Mais[type=button]:focus +.mais{
    display: block;
}

#mais{
    border-style: none;
    display: block;
    border-radius: 0.5vw;
    text-align: left;
    background-color: white;
}
#mais:hover{
    background-color: rgba(219, 219, 219, 0.300);
}
main{
    background-color:rgb(161, 161, 161);
    height: 20vw;
}
@media only screen and (min-width: 768px){
    
}