:root {
	--cor-de-fundo: rgb(81, 16, 143);
	--cor-de-fundo-secundario: white;
	--font-size-padrão: 0.8rem;
	--cor-borda: rgb(169, 88, 245);
	--container-size: 90vw;
	--footer-font-color: white;
	--font-color: black;
}
/*Estilos Gerais*/
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.container{
	width: 100%;
	max-width: var(--container-size);
	margin: 0 auto;
	padding: 10px;
}


.hidden{
	display: none;
}

/*BODY*/
body{
	font-family: 'Times New Roman', Arial;
	font-size: var(--font-size-padrão);
	color: var(--font-color);
}

/*HEADER*/
header{
	background-color: var(--cor-de-fundo);
	padding: 0 5vw;
	padding-top: 30px;
	color: var(--font-color);
}
header .container{
	background-color: var(--cor-de-fundo-secundario);
}
header .coluna img{
	max-width: 30vw;
	/*border-radius: 10%;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}
header .coluna-direita section{
	font-size: var(--font-size-padrão);
	text-align: center;
}
header .coluna ul{
	margin: 20px 0 0;
}
header .coluna ul li{
	margin: 0 0 14px;
}
header .coluna ul li a{
	color: var(--font-color);
}

/*FOOTER*/
footer{
	background-color: var(--cor-de-fundo);
	color: var(--footer-font-color);
}
footer nav ul li a{
	color: var(--footer-font-color);
}
footer .info-contato ul li{
	margin: 10px 5vw;
}
footer .redes-sociais{
	border-top: 1px gray solid;
	margin: 20px;
	padding: 10px;
}
footer .redes-sociais ul{
	display: flex;
	justify-content: center;
}
footer .redes-sociais ul li{
	margin: 8px 15px;
	text-align: center;
}
footer .redes-sociais ul li a img{
	max-width: 10vw;
}

/*Conteudo Principal*/
main{
	background-color: var(--cor-de-fundo-secundario);
	color: var(--font-color);
}
main .container{
	max-width: var(--container-size);
}
main .coluna section{
	padding: 10px;
	border-top: 1px solid var(--cor-borda);
	margin: 10px 5px;
	text-align: justify;
}
main .coluna section ul li{
	margin:0 0 5px;
}
main .coluna section ul li h3{
	font-size: var(--font-size-padrão);
	text-align: left;
}
main .coluna section ul li a{
	color: var(--font-color);
	text-decoration: underline;
}

/*EXTRA*/

/*Botão de tema*/
:root{
	--none: none;
	--initial: initial;
}
input{
	display: none;
}
label{
	position: absolute;
	right: 25%;
}
.sun{
	position: absolute;
	display: var(--none);
}
.moon{
	position: absolute;
	display: var(--initial)
}
.ativar-dark:checked ~ .dark-mode{
	--cor-de-fundo-secundario: black;
	--font-color: white;
	--initial: none;
	--none: initial;
}

/*@MEDIA*/
@media only screen and (min-width: 768px){
	/*Para desktop*/

	/*Regras Gerais*/
	:root{
		--font-size-padrão: 1.2rem;
		--container-size: 80vw;
	}
	.linha{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.coluna{
		flex-basis: 50%;
	}
	.container{
		width: 100%;
		max-width: var(--container-size);
		margin: 0 auto;
		padding: 30px;
	}
	
	/*Header*/
	header .linha{
		align-items: center;
	}
	header .coluna-esquerda{
		flex-basis:30%;
	}
	header .coluna img{
		max-width: 20vw;
		/*border-radius: 10%;*/
		display: initial;
		margin-left: initial;
		margin-right: initial;
	}
	header .coluna-direita{
		flex-basis:70%;
	}
	header .coluna-direita section{
		font-size: var(--font-size-padrão);
		text-align: left;
	}
	
	/*Conteudo Principal*/
	main .coluna section{
		padding: 9px;
		border: 1px solid var(--cor-borda);
		margin: 10px 5px;
	}
	main .container{
		max-width: var(--container-size);
	}
	
	/*Footer*/
	footer .redes-sociais ul li a img{
		max-width: 4vw;
	}
	
	/*EXTRAS*/
	label{
		position: absolute;
		right: 18%;
	}
}
