html,body,header,main,section,h1,h2,h3,h4,h5,ul,li,img,a,button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border-style: none;
}
:root{
    --font-color: greenyellow;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    overflow-x: hidden;
    padding-bottom: 5vh;
}
/*header*/
    header#top{
        width: 100vw;
        background-image: linear-gradient(black, rgb(0,0,0,0));
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
    }
    header#top h1{
        color: var(--font-color);
        font-size: 1.5rem;
        text-align: center;
    }
    header#top nav{
        display: flex;
        justify-content: space-between;
    }
    header#top nav ul{
        display: flex;
        justify-content: space-around;
        flex-basis: 50%;
        margin: 0.5em;
    }
    header#top nav ul:last-child{
        flex-basis: 20%;
    }
    header#top nav ul:last-child li img{
        filter: invert(100%);
    }
    header#top nav ul li{
        cursor: pointer;
        display: flexbox;
        font-size: 0.7rem;
        margin: 0 0.3em;
    }
    header#top nav ul li a{
        border-bottom: 1px solid white;
        color: white;
    }
    header#top nav img{
        height: 1.3rem;
    }
/*Main*/
    section#curt{
        width: 100vw;
        height: 70vh;
        background-image: url(../image/duck.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
    }
    section#curt article{
        margin-left: 3vw;
        color: white;
    }
    section#curt article header strong{
        color: var(--font-color);
    }
    section#curt article h2{
        text-align: center;
    }
    section#curt article button{
        color:white;
        width: 7em;
        background-color: rgba(0, 0, 0, 0.329);
        cursor: pointer;
    }
    section h3{
        color: var(--font-color);
        margin-top: 0.5em;
        margin-left: 1em;
    }
    section div{
        overflow-x: scroll;
    }
    section div ul{
        margin: 0 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    section div ul li{
        margin: 0.2em;
    }
    section div ul li img{
        cursor: pointer;
        width: 28vw;
        height: auto;
    }
@media (min-width:1024px){
    /*header*/
    header#top{
        display: flexbox;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    header#top h1{
        margin: 0.5em;
    }
    header#top nav{
        justify-content: space-between;
        width: 85vw;
    }
    header#top nav ul{
        flex-basis: 30%;
        align-items: center;
    }
    header#top nav ul:last-child{
        flex-basis: 10%;
    }
    header#top nav ul li a:hover{
        border-bottom-color: var(--font-color);
        color: var(--font-color);
    }
    /*Main*/
    section#curt{
        height: 90vh;
    }
}