html, body, header, main, h1,h2,h3,p,a,button,input{
    margin: 0;
    padding: 0;
    font-style: none;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --principal-color: rgb(0, 132, 255);
    --principal-color_hover: rgb(0, 125, 242);
}
body{
    font-family: "Open Sans", "Times New Roman", Arial, Helvetica, sans-serif;
    background: #f0f2f5;
}
/*HEADER SECTION*/
.section_header{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}
.header_title{
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 700;
    margin: 13px 0px;
    color: var(--principal-color);
}
.section_header_main p{
    font-size: 1.5rem;
    font-weight: 500;
}
/*HEADER SECTION*/

/*FORM SECTION*/
.section_form{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}
.section_form_card{
    display: flex;
    flex-direction: column;
    padding: 17px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.154);
    background: white;
}
form{
    display: flex;
    flex-direction: column;
}
form h2{
    color: red;
    text-decoration: underline;
}
form input{
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.474);
    color: rgb(128, 128, 128);
    margin: 7px 0px;
    padding: 14px;
    font-size: 1.1rem;
}
form button{
    width: 100%;
    padding: 10px;
    margin: 8px 0px;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    background-color: var(--principal-color);
    border-radius: 7px;
    border-style: none;
}
form button:hover{
    background-color: var(--principal-color_hover);
}
.forgot_password{
    color: var(--principal-color);
    font-size: 0.9rem;
    margin: 5px 0px;
}
.forgot_password:hover{
    text-decoration: underline;
}
hr{
    width: 100%;
    border: none;
    margin: 20px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.474);
}
.createNewAccount{
    border: none;
    border-radius: 7px;
    width: 47%;
    margin: 7px auto;
    font-size: 1rem;
    font-weight: 700;
    padding: 14px;
    background-color: #42b72a;
    color: white;
}
.createNewAccount:hover{
    background-color: #3fae28;
}
.special_profile{
    width: 100%;
    font-size: 0.86rem;
    margin: 17px 0px 7px 0px;
}
.special_profile a{
    font-weight: 700;
}
.special_profile a:hover{
    text-decoration: underline;
}
/*FORM SECTION*/

@media only screen and (min-width:769px){
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    main.main{
        display: flex;
        width: 80%;
        max-width: 1000px;
        margin: auto;
        align-items: center;
    }
    .section_header{
        width: 55%;
        margin: 0px 30px 80px 0px;
        text-align: left;
    }
    .section_header_main p{
        font-size: 1.8rem;
    }
    .section_form{
        width: 45%;
    }

}