html, body, header, main, footer, section, h1,h2,h3,h4,h5,h6, p, button, nav, div, form, input, a, img, ul,ol,li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Poppins;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

button, a {
  cursor: pointer;
}

button:active {
  filter: brightness(110%)
}