body {
	background-image: url("../image/delivery_background.png");
	background-repeat: repeat;
	background-size: 12.1vw 8vw;
	color: #000;
	font-size: 3vw;
	font-family: "Times New Roman", Arial;
	margin: 0; 
	padding: 0;
	text-align: center;
}


.tudo {
	background: #FFF;
	border: #000 0.1vw solid;
	border-top: 0.01vw;
	width: 80vw;
	margin: auto;
	text-align: left;
}

/*Cabeçalho*/
.cabecalho { 
	background: purple;
	font-size: 3vw;
	text-align: center;
	padding: 1vw;
}

/*Menu*/
.menu {
	background: purple;
	height: 6vh;
	margin: 0px; 
	padding: 0px;
}
.menu ul {
	margin: 0px;
	padding: 0px;
	margin-left: 1vw;
}
.menu ul li {
	display: inline;
}
.menu ul li a {
	background: green;
	color: yellow;
	border: 0.1vw #FFF solid;
	padding: 0.5vw 0.7vw;
	margin: 0.2vw;
	text-decoration: none;
}
.menu ul li a:hover {
	background: #FFF;
	color: #F00;
	border: #F00 0.01vw solid;
	text-decoration: none;
}

/*Content*/
.content{
	width: 99%;
	height: 73vh;
	border: none;
}

.conteudo {
	font-size: 3vw;
	padding: 0.5vw;
	text-align: left;
	background: white;
}
h2 {
	text-align: center;
}
.conteudo ol{
	padding-left: 9vw;
}
.conteudo ol li{
	margin-bottom: 2vh;
}
@media only screen and (min-width: 768px){
	body{
		background-size: 2.42vw 1.6vw;
	}
	.cabecalho { 
		font-size: 1.5vw;
		padding: 0.1vw;
	}
	.menu{
		height: 4.5vw;
	}
	.menu ul li a {
		font-size: 1.5vw;
	}
	.conteudo{
		font-size: 2vw;
	}
	.conteudo ol{
		padding-left: 6vw;
	}
}
@media only screen and (max-height: 526px){
	.menu{
		height: 5vw;
	}
}